FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
BABYLAPSE_UPLOAD_DIR=
BABYLAPSE_APP_URL=http://localhost:3000
HACKATIME_URL=https://hackatime.hackclub.com
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
HACKATIME_REDIRECT_URI=http://localhost:3000/auth/callback
